::deep .version-slide {
    width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 960px) {
    ::deep .version-slide {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
